BasedOnStyle: LLVM
Language: Cpp
DisableFormat: false
ColumnLimit: 120
IndentWidth: 3
TabWidth: 3
UseTab: Never
BreakBeforeBraces: Stroustrup
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
SeparateDefinitionBlocks: Always
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
DerivePointerAlignment: false
ObjCBlockIndentWidth: 3
ObjCBinPackProtocolList: Never
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
