BasedOnStyle: LLVM
Language: Cpp
DisableFormat: false
ColumnLimit: 120
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: None
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
DerivePointerAlignment: false
PointerAlignment: Left
ObjCBlockIndentWidth: 2
ObjCBinPackProtocolList: Never
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
PenaltyReturnTypeOnItsOwnLine: 60
